{{- $secrets := joinPath .chezmoi.homeDir ".config/chezmoi/secrets.json" -}}
#!/bin/sh

email={{ output "jq" ".git.main.email" $secrets | trim}}
# https://www.tecmint.com/install-rootkit-hunter-scan-for-rootkits-backdoors-in-linux/
#title=$(echo "Rkhunter Weekly [Arch-Laptop" ; date +"%F %T %Z"; printf %s "]" )
#echo "Testing" | /bin/mail -s "$title" "$email"
#date_time=$(date +"%F %T %Z]")
#title=$(echo "Rkhunter Weekly [Arch-Laptop $(date +"%F %T %Z]")")

(/usr/bin/rkhunter --versioncheck
/usr/bin/rkhunter --update
/usr/bin/rkhunter --cronjob --report-warnings-only
) | /bin/mail -s "$(echo "Rkhunter Weekly [Arch-Laptop $(date +"%F %T %Z]")")" "$email"
