#!/bin/sh

log=/var/log/backups/borg

# Helpers and error handling:
info() { printf "\n%s %s\n\n" "$( date )" "$*" >&2; }
notify_user() {
    icon=$1
    msg=$2
    critical=$3

    if [[ -z "$icon" ]]; then
        if [[ -z "$critical" ]]; then
            sudo -u $USER notify-send "Borg Backup" $msg
        else
            sudo -u $USER notify-send "Borg Backup" $msg --urgency=critical
        fi
    else
        sudo -u $USER notify-send -i $icon "Borg Backup" $msg
    fi

    date +"[%F %T %Z] $msg" >> "$log/borg.log"
    # [YYYY-MM-DD HH:MM:SS] Timezone $msg
}

trap 'echo $( date ) Backup interrupted >&2; exit 2' INT TERM

USER=jmd
HOST=$(cat /etc/hostname)

# Setting this, so the repo does not need to be given on the commandline:
export BORG_REPO="/home/$USER/Backups/Borg/Main"
export BORG_PASSCOMMAND="secret-tool lookup user $USER domain $HOST"

# Log all output
[[ ! -d $log ]] && sudo mkdir -p $log || :

if [ -z $( eval ${BORG_PASSCOMMAND} ) ];
then
    info "Error: Passphrase not found in secret-tool"
    exit 1
fi

info "Starting backup"

# Notify user via notify-osd as well
sudo -u $USER notify-send "Borg Backup" "Starting backup for $USER"

# Backup the most important directories into an archive named after
# the machine this script is currently running on:
borg create                         \
    --verbose                       \
    --filter AME                    \
    --list                          \
    --stats                         \
    --show-rc                       \
    --compression lz4               \
    --exclude-caches                \
    --exclude '/home/*/.cache/*'    \
    --exclude '/var/tmp/*'          \
    --exclude-from ${HOME}'/.local/share/excludes/borg.exclude.list' \
                                    \
    ::'{hostname}-{now}'            \
    /etc                            \
    /home                           \
    /root >> "$log/borg.create.log" 2>&1

backup_exit=$?

info "Pruning repository"

# Use the `prune` subcommand to maintain 7 daily, 4 weekly and 6 monthly
# archives of THIS machine. The '{hostname}-' prefix is very important to
# limit prune's operation to this machine's archives and not apply to
# other machines' archives also:

borg prune                          \
    --list                          \
    --prefix '{hostname}-'          \
    --show-rc                       \
    --keep-daily    7               \
    --keep-weekly   4               \
    --keep-monthly  6 >> "$log/borg.prune.log" 2>&1

prune_exit=$?

# use highest exit code as global exit code
global_exit=$(( backup_exit > prune_exit ? backup_exit : prune_exit ))

if [ ${global_exit} -eq 0 ];
then
    info "Backup and Prune finished successfully"
    notify_user "drive-optical" "Backup and Prune finished successfully."
fi

if [ ${global_exit} -eq 1 ];
then
    info "Backup and/or Prune finished with a warning"
    notify_user "Backup and/or Prune finished with a warning."
fi

if [ ${global_exit} -gt 1 ];
then
    info "Backup and/or Prune finished with an error"
    notify_user "Backup and/or Prune finished with an error." 
fi

exit ${global_exit}
