{{- $secrets := joinPath .chezmoi.homeDir ".config/chezmoi/secrets.json" -}}
{{- $email := output "jq" ".git.main.email" $secrets | trim -}}
# Set default values for all following accounts.
defaults
auth oauthbearer
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        {{ .chezmoi.homeDir }}/.local/share/msmtp/logs/msmtp.log

# Gmail
account        gmail
host           smtp.gmail.com
port           587
from           {{ $email }}
user           {{ $email }}
passwordeval {{ .chezmoi.homeDir }}/.config/msmtp/oauth2token {{ $email }} "mail-server"

# Set a default account
account default : gmail
# vim:filetype=msmtp
