{
    "languageserver": {
        "ccls": {
            "command": "ccls",
            "filetypes": [
                "c",
                "cc",
                "cpp",
                "c++",
                "objc",
                "objcpp"
            ],
            "rootPatterns": [
                "build/compile_commands.json",
                ".git/",
                ".hg/"
            ],
            "initializationOptions": {
                "cache": {
                    "directory": "{{ .chezmoi.homeDir }}/.cache/ccls"
                },
                "compilationDatabaseDirectory": "build"
            }
        },
        "python": {
            "command": "python",
            "args": [
                "-mpyls",
                "-vv",
                "--log-file",
                "/tmp/lsp_python.log"
            ],
            "trace.server": "verbose",
            "filetypes": [
                "python"
            ],
            "settings": {
                "pyls": {
                    "enable": true,
                    "trace": {
                        "server": "verbose"
                    },
                    "commandPath": "",
                    "configurationSources": [
                        "pycodestyle"
                    ],
                    "plugins": {
                        "jedi_completion": {
                            "enabled": true
                        },
                        "jedi_hover": {
                            "enabled": true
                        },
                        "jedi_references": {
                            "enabled": true
                        },
                        "jedi_signature_help": {
                            "enabled": true
                        },
                        "jedi_symbols": {
                            "enabled": true,
                            "all_scopes": true
                        },
                        "mccabe": {
                            "enabled": true,
                            "threshold": 15
                        },
                        "preload": {
                            "enabled": true
                        },
                        "pycodestyle": {
                            "enabled": true
                        },
                        "pydocstyle": {
                            "enabled": false,
                            "match": "(?!test_).*\\.py",
                            "matchDir": "[^\\.].*"
                        },
                        "pyflakes": {
                            "enabled": true
                        },
                        "rope_completion": {
                            "enabled": true
                        },
                        "yapf": {
                            "enabled": true
                        }
                    }
                }
            }
        },
        "bash": {
            "command": "bash-language-server",
            "args": [
                "start"
            ],
            "filetypes": [
                "sh"
            ]
        },
        "cmake": {
            "command": "cmake-language-server",
            "filetypes": [
                "cmake"
            ],
            "rootPatterns": [
                "build/"
            ],
            "initializationOptions": {
                "buildDirectory": "build"
            }
        },
        "golang": {
            "command": "gopls",
            "rootPatterns": [
                "go.mod"
            ],
            "disableWorkspaceFolders": true,
            "filetypes": [
                "go"
            ]
        },
        "digestif": {
            "command": "digestif",
            "filetypes": [
                "tex",
                "plaintex",
                "context"
            ]
        },
        "sixtyfps": {
            "command": "sixtyfps-lsp",
            "filetypes": [
                "sixtyfps"
            ]
        },
        "slint": {
            "command": "slint-lsp",
            "filetypes": [
                "slint"
            ]
        },
        "haskell": {
            "command": "haskell-language-server-wrapper",
            "args": ["--lsp"],
            "rootPatterns": ["*.cabal", "stack.yaml", "cabal.project", "package.yaml", "hie.yaml"],
            "filetypes": ["haskell", "lhaskell", "hs"]
        }
    },
    "markdownlint.config": {
        "default": true,
        "line-length": false,
        "MD007": {
            "indent": 4
        },
        "MD022": false,
        "MD032": false
    },
    "rust.target_dir": "{{ .chezmoi.homeDir }}/Workspace/apps/rust/target",

    // Java
    "java.import.gradle.enabled": true,
    "java.configuration.updateBuildConfiguration": "automatic"
    //"coc.preferences.formatOnSaveFiletypes": [ "javascript", "typescript", "css", "markdown" ]
}
// vim:ft=jsonc
