configuration { 
  modi: "window,drun,ssh,combi";
  /*theme: "firewatch";*/
  {{- if ( eq .system "arch-laptop" ) }}
	dpi: 156;
  {{- end }}
	color-normal: "#510231, #FEE8DA, #510231, #FF974E, #510231";
	color-urgent: "#510231, #FA6E43, #510231, #FA6E43, #FEE8DA";
	color-active: "#510231, #FEE8DA, #510231, #FF974E, #510231";
	color-window: "#510231, #510231, #FF974E";
}
