{{- $system         := promptStringOnce . "system" "Set System Config: [linux-desktop, arch-laptop, arch-asus, windows-desktop]: " -}}
{{- $backgrounds    := joinPath .chezmoi.homeDir "Pictures/Backgrounds" -}}
{{- $wallpaper      := joinPath $backgrounds "Flat Colors/DpvywNN.jpg" -}}
{{- $terminal       := "alacritty" -}}
{{- $conda          := "miniconda" -}}
{{- $dsp            := promptStringOnce . "dsp" "Set Display Server Protocol: [xorg, wayland]: " -}}
{{- $yarnv          := "3" -}}
[data]
    system="{{ $system }}"
    backgrounds="{{ $backgrounds }}"
    wallpaper="{{ $wallpaper }}"
    terminal="{{ $terminal }}"
    conda="{{ $conda }}"
    dsp="{{ $dsp }}"
    yarnv="{{ $yarnv }}"
