#!/bin/sh

USERXSESSION="{{ .chezmoi.homeDir}}/.cache/x11/xsession"
USERXSESSIONRC="{{ .chezmoi.homeDir}}/.cache/x11/xsessionrc"
ALTUSERXSESSION="{{ .chezmoi.homeDir}}/.cache/x11/Xsession"
ERRFILE="{{ .chezmoi.homeDir}}/.cache/x11/xsession-errors"

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

xrdb -merge ~/.Xresources
{{- if (eq .system "arch-laptop" ) }}
xrandr --dpi 240
{{- end }}

rofi &
mpd &
picom -b
bash ~/.config/polybar/launch.sh
exec i3
