#!/bin/sh

XDG_CACHE_HOME="$HOME/.cache"
USERXSESSION="$XDG_CACHE_HOME/x11/xsession"
USERXSESSIONRC="$XDG_CACHE_HOME/x11/xsessionrc"
ALTUSERXSESSION="$XDG_CACHE_HOME/x11/Xsession"
ERRFILE="$XDG_CACHE_HOME/x11/xsession-errors"

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

xrdb -merge ~/.Xresources
{{- if (eq .system "arch-laptop" ) }}
xrandr --dpi 240
{{- end }}

rofi &
mpd &
picom -b
bash ~/.config/polybar/launch.sh
exec i3
