#!/bin/sh
set -e
PATH="/usr/local/bin:$PATH"
dir="`git rev-parse --git-dir`"
trap 'rm -f "$dir/$$.tags"' EXIT
git ls-files | \
{{- if ( eq .system "linux-desktop" ) }} 
  ctags-universal --tag-relative=yes -L - -f"$dir/$$.tags" --languages=-javascript,sql
{{- else if ( eq .system "linux-laptop") }}
  ctags --tag-relative -L - -f"$dir/$$.tags" --languages=-javascript,sql
{{- end }}
mv "$dir/$$.tags" "$dir/tags"
