;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background          = #222
background-alt      = #444
foreground          = #dfdfdf
foreground-alt      = #555
primary             = #ffb52a
secondary           = #e60053
alert               = #bd2c40

top-background      = #00ffffff
top-foreground      = #bb000000
bottom-foreground   = #70ffffff
bottom-background   = #00ffffff

[global/wm]
margin-top = 5
margin-bottom = 5

[bar/topbar]
width = 100%
{{- if ( eq .system "ubuntu-workstation" ) }}
height = 24
{{- else if ( eq .system "arch-laptop" ) }}
height = 40
{{- end }}
offset-x = 0
offset-y = 0
radius = 0.0
fixed-center = true
tray-scale = 1.0
{{- if ( eq .system "arch-laptop" ) }}
tray-maxsize = 666
dpi=240
{{- end }}

background = ${colors.top-background}
foreground = ${colors.top-foreground}

line-size = 0
border-size = 0
border-color = #00000000
padding-left = 5
padding-right = 5
module-margin-left = 2
module-margin-right = 2

{{- if ( eq .system "ubuntu-workstation" ) }}
font-0 = Inconsolata Nerd Font:style=Bold:size=14;6
{{- else if ( eq .system "arch-laptop" ) }}
font-0 = Inconsolata Nerd Font:style=Bold:size=12;6
font-1 = Monaco for Powerline:style=Regular:size=12;6
font-2 = Material Design Icons:style=Regular:12;6
font-3 = Font Awesome 5 Free:style=Regular:size=12;6
{{- end }}

{{- if ( eq .system "ubuntu-workstation" ) }}
modules-right = pulseaudio eth date
{{- else if ( eq .system "arch-laptop" ) }}
modules-right = protonvpn xbacklight pulseaudio xkeyboard wlan battery date 
{{- end }}

tray-position = left
tray-padding = 2
tray-background = ${self.background}
tray-detached = true
wm-restack = i3
override-redirect = true
cursor-click = pointer
cursor-scroll = ns-resize

[bar/bottombar]
width = 100%
{{- if ( eq .system "ubuntu-workstation" ) }}
height = 24
{{- else if ( eq .system "arch-laptop" ) }}
height = 40
{{- end }}
offset-x = 0
offset-y = 0
fixed-center = true
bottom = true
{{- if ( eq .system "arch-laptop" ) }}
dpi=240
{{- end }}

background = ${colors.bottom-background}
foreground = ${colors.bottom-foreground}

line-size = 0
border-size = 0
border-color = #00000000
padding-left = 5
padding-right = 5
module-margin-left = 2
module-margin-right = 2

{{- if ( eq .system "ubuntu-workstation" ) }}
font-0 = Inconsolata Nerd Font:style=Bold:size=14;0
{{- else if ( eq .system "arch-laptop" ) }}
font-0 = Inconsolata Nerd Font:style=Bold:size=12;0
font-1 = Monaco for Powerline:style=Regular:size=12;0
font-2 = Material Design Icons:style=Regular:size=12;0
font-3 = Font Awesome 5 Free:style=Solid:size=12;0
font-4 = Fira Code Nerd Font:style=Regular:size=10;-1
{{- end }}

{{- if ( eq .system "ubuntu-workstation" ) }}
modules-left = weather
{{- else if ( eq .system "arch-laptop" ) }}
modules-left = weather mpd
{{- end }}

modules-center = i3
modules-right = agenda temperature cpu memory

tray-positon = right
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize
override-redirect = true
wm-restack = i3

{{ if ( eq .system "arch-laptop" ) -}}
[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

format-prefix = "  "
format-prefix-foreground = ${colors.foreground-alt}

label-layout = %layout%

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${bar/bottombar.background}
{{- end }}

[module/filesystem]
type = internal/fs
interval = 25
mount-0 = /

label-mounted = " %{F#0a81f5}%mountpoint%%{F-}: %percentage_used%%"
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${bar/bottombar.foreground}

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
enable-scroll = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
pin-workspaces = true

label-mode-padding = 1
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = " "
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 1

; unfocused = Inactive workspace on any monitor
label-unfocused = " " 
label-unfocused-padding = 1

; visible = Active workspace on unfocused monitor
label-visible = %index%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = " "
label-urgent-background = ${colors.alert}
label-urgent-padding = 1

[module/mpd]
type = internal/mpd
port = 6604

; No progress bar
;format-online = <icon-prev> <icon-stop> <toggle> <icon-next> <icon-repeat> <icon-random> <bar-progress> <label-time> <label-song>
; Use with tagged songs
;label-song = "%artist% - %title%"

; Use with untagged songs
format-online = <icon-prev> <icon-stop> <toggle> <icon-next> <icon-repeat> <icon-random> <label-time> <label-song>
label-song = "%title%"

; Nerd Fonts - Font Awesome 5 
icon-play   = " "
icon-pause  = " "
icon-stop   = " "
icon-next   = " "
icon-prev   = " "
icon-random = " "
icon-repeat = " "

; Nerd Fonts - Material Icons
;icon-play   = " "
;icon-pause  = "契"
;icon-stop   = "栗"
;icon-prev   = "玲"
;icon-next   = "怜"
;icon-random = " "
;icon-repeat = "凌"
;icon-single = "綾"

format-online-font = 5
;label-offline = "ﱙ mpd is offline"
label-offline = ""

label-song-maxlen = -1
label-song-ellipsis = true

bar-progress-width = 10
bar-progress-format = %{A4:mpdseek+2: A5:mpdseek-2:}%fill%%indicator%%empty%%{A A}
bar-progress-indicator = |
bar-progress-fill = ─
bar-progress-empty = ─
bar-indicator-font = 5
bar-empty-font = 5
bar-fill-font = 5

{{ if ( eq .system "arch-laptop" ) -}}
[module/xbacklight]
type = internal/xbacklight

format = <ramp> <bar>
ramp-0 = 滛
ramp-font = 1

bar-width = 10
bar-indicator = 
bar-indicator-foreground = #000000
bar-indicator-font = 1
bar-fill = 
bar-fill-font = 1
bar-fill-foreground = #000000
bar-empty = 
bar-empty-font = 1
bar-empty-foreground = ${bar/topbar.foreground}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight
{{- end }}

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = ${bar/bottombar.foreground}
label = %percentage%%

[module/memory]
type = internal/memory
interval = 2
format-prefix = "﬙ "
format-prefix-foreground = ${bar/bottombar.foreground}
label = %percentage_used%%

{{- if ( eq .system "arch-laptop" ) }}
[module/wlan]
type = internal/network
interface = wlp58s0
interval = 3.0

; --- Nerd Font Version ---
; Displays connectivity to wireless network
;format-connected = <ramp-signal> <label-connected>
;format-connected-underline = #9f78e1
;label-connected = %essid%
;format-disconnected = 睊
;ramp-signal-0 = " "
;ramp-signal-0 = "睊 "
;ramp-signal-foreground = ${colors.foreground-alt}

; --- Material Icons Version ---
; Displays wireless network name, and signal strength
label-active-font = 3
format-prefix = 1
format-connected = <ramp-signal> <label-connected>
format-connected-underline = #9f78e1
label-connected = %essid%
label-connected-foreground = ${bar/topbar.foreground}

# Glyph (F092E)
format-disconnected = <label-disconnected>
label-disconnected = 󰤮
label-disconnected-font = 3
label-disconnected-foreground = ${bar/topbar.foreground}

; Glyphs (F092F, F091F, F0922, F0925, F0928)
ramp-signal-0 = 󰤯 
ramp-signal-1 = 󰤟 
ramp-signal-2 = 󰤢 
ramp-signal-3 = 󰤥 
ramp-signal-4 = 󰤨 
ramp-signal-font = 5
ramp-signal-foreground = ${bar/topbar.foreground}

{{- end }}

{{- if ( eq .system "ubuntu-workstation" ) }}
[module/eth]
type = internal/network
interface = enp0s31f6
interval = 3.0

format-connected-prefix = "ﮣ "
format-connected-underline = #55aa55
format-connected-prefix-foreground = ${colors.foreground-alt}

format-disconnected-prefix = "ﮤ "
format-disconnected-underline = ${self.format-connected-underline}
label-disconnected-foreground = ${colors.foreground-alt}

label-connected = %local_ip%
label-disconnected = %ifname% disconnected
{{- end }}

[module/date]
type = internal/date
interval = 1.0

date = " %a %b"
date-alt = "  %Y/%m/%d"

time ="  %I:%M %p"
time-alt = "   %H:%M:%S %p"
label = %date% %time%

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <ramp-volume> <label-volume> <bar-volume>
label-volume = %percentage%%
label-volume-foreground = ${root.foreground}

ramp-volume-0 = "奄"
ramp-volume-1 = "奔"
ramp-volume-2 = "墳"
ramp-volume-foreground = ${bar/topbar.foreground}

format-muted-prefix = "ﱝ "
format-muted-foreground = ${bar/topbar.foreground}
label-muted-foreground =  #000000
label-muted = " "
label-muted-font = 1

bar-volume-width = 10
bar-volume-foreground-0 = #000000
bar-volume-foreground-1 = #000000
bar-volume-foreground-2 = #000000
bar-volume-foreground-3 = #000000
bar-volume-foreground-4 = #000000
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = 
bar-volume-indicator-font = 2
bar-volume-indicator-foreground = #000000
bar-volume-fill = 
bar-volume-fill-font = 2
bar-volume-empty = 
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${bar/topbar.foreground}
click-middle = pavucontrol

{{ if ( eq .system "arch-laptop" ) -}}
[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 98

; Use Material Design Icons
label-active-font = 3
format-charging = <animation-charging> <label-charging>
format-charging-underline = #ffb52a

format-discharging = <ramp-capacity> <label-discharging>
format-discharging-underline = ${self.format-charging-underline}

format-full = <label-full> 100%
format-full-prefix-foreground = ${bar/topbar.foreground}
format-full-underline = ${self.format-charging-underline}

label-discharging-foreground = ${bar/topbar.foreground}
label-charging-foreground = ${bar/topbar.foreground}
label-full = 󰁹 

; Glyphs (F007A, F007B, F007C, F007D, F007E, F007F, F0080, F0081, F0082, F0079)
ramp-capacity-0 = 󰁺 
ramp-capacity-1 = 󰁻 
ramp-capacity-2 = 󰁼 
ramp-capacity-3 = 󰁽 
ramp-capacity-4 = 󰁾 
ramp-capacity-5 = 󰁿 
ramp-capacity-6 = 󰂀 
ramp-capacity-7 = 󰂁 
ramp-capacity-8 = 󰂂 
ramp-capacity-9 = 󰁹 
ramp-capacity-foreground = ${bar/topbar.foreground}

; Glyphs (F089C, F0086, F0087, F0088, F089D, F0089, F089E, F008A, F008B, F0085)
animation-charging-0 = 󰢜 
animation-charging-1 = 󰂆 
animation-charging-2 = 󰂇 
animation-charging-3 = 󰂈 
animation-charging-4 = 󰢝 
animation-charging-5 = 󰂉 
animation-charging-6 = 󰢞 
animation-charging-7 = 󰂊 
animation-charging-8 = 󰂋 
animation-charging-9 = 󰂅 
animation-charging-foreground = ${bar/topbar.foreground}
{{- end }}

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-warn = <ramp> <label-warn>

label = %temperature%
label-warn = %temperature%
{{- if ( eq .system "arch-laptop" ) }}
hwmon-path = ${env:HWMON_PATH}
{{- else if ( eq .system "ubuntu-workstation" ) }}
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp2_input 
{{- end }}

ramp-0 = 﨎
ramp-font = 1
ramp-foreground = ${bar/bottombar.foreground}

[module/weather]
type = custom/script
interval = 10
format = <label>
{{- if ( eq .system "arch-laptop" ) }}
exec = ~/.config/polybar/weather
{{- else if ( eq .system "ubuntu-workstation" ) }}
exec = python3 ~/.config/polybar/weather
{{- end }}

{{ if ( eq .system "arch-laptop" ) -}}
[module/agenda]
type = custom/script
; Show the next event and forget cache automatically every 60 minutes
exec = i3-agenda -cd ~/.config/polybar/i3-agenda -c ~/.config/polybar/i3-agenda/google_credentials.json -ttl 60
; left click to launch Google Calendar
click-left = firefox https://calendar.google.com/calendar/r/day
; right click force update the cache, if for example you just added a new event
click-right = notify-send "Syncing..." && i3-agenda -c ~/.config/i3/i3-agenda/google_credentials.json --update && notify-send -t 2000 "Calendar Sync Finished"
interval = 60

[module/protonvpn]
type = custom/script
exec = ~/.config/polybar/polybar-protonvpn/polybar-protonvpn.sh
click-left = exec ~/.config/polybar/polybar-protonvpn/status-notification.sh
interval = 10
{{- end }}

[settings]
screenchange-reload = true
compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over

; vim:ft=dosini 
