{{- $secrets := joinPath .chezmoi.homeDir ".config/chezmoi/secrets.json" -}}
[user]
  name = {{ output "jq" ".git.main.name" $secrets | trim }}
  email = {{ output "jq" ".git.main.email" $secrets | trim }}
{{- if ( eq .system "arch-laptop" "arch-asus" ) }}
	signingkey = 5B3AE73F7980EE81
[includeIf "gitdir:~/Workspace/horse/Projects/sfilly/"]
  path = ~/.config/git/personal
[includeIf "gitdir:~/Workspace/horse/Projects/bmare/"]
  path = ~/.config/git/bmare
{{- else if (eq .system "ubuntu-workstation") -}}
[includeIf "gitdir:~/Workspace/personal/"]
  path = ~/.config/git/personal
{{- end }}
[push]
	default = simple
[pull]
  rebase = true
[init]
	templatedir = ~/.config/git/git_template
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	ctags = !.git/hooks/ctags
  archive-branch = !.git/hooks/archive-branch
  cc = !.git/hooks/commit-count
  ls = !.git/hooks/tracked
  optim = !.git/hooks/optim
  rmignore = !.git/hooks/rmignore
  mask = !.git/hooks/mask
  mvurl = !.git/hooks/mvurl
  upmod = !git submodule foreach git pull origin master
  tree = !git log --graph --pretty=oneline --abbrev-commit
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  line-numbers = true 
  keep-plus-minus-markers = true
  features = decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
# vim:ft=gitconfig
