[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
[push]
	default = simple
[init]
	templatedir = ~/.config/git/git_template
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	ctags = !.git/hooks/ctags
