{{- $secrets := joinPath .chezmoi.homeDir ".config/chezmoi/secrets.json" -}}
[user]
name = {{ output "jq" ".git.personal.name" $secrets | trim }}
email = {{ output "jq" ".git.personal.email" $secrets | trim }}
