# https://i3wm.org/docs/userguide.html
set $mod Mod4

# Font for window titles.
font pango:Noto Sans Mono 10

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# Start a terminal 
bindsym $mod+Return exec --no-startup-id alacritty

# Kill focused window
bindsym $mod+Shift+q kill

# === [ Application Launcher ] === #
# Launch applications from a menu

bindsym $mod+d exec rofi -show drun
bindsym $mod+Shift+d exec rofi -show combi
bindsym $mod+Control+d exec i3_quickterm

# === [ Window Navigation ] === #
# Focus on windows

bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# Arrow Keys
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# === [ Window Movement ] === #
# Move focused windows

bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# Arrow Keys
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+n split h

# split in vertical orientation
bindsym $mod+m split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# Define names for default workspaces for which we configure key bindings later on.
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

{{- if ( eq .system "linux-desktop" ) }}
workspace $ws1 output primary
workspace $ws2 output primary
workspace $ws3 output primary
workspace $ws4 output primary
workspace $ws5 output primary
workspace $ws6 output primary
workspace $ws7 output secondary
workspace $ws8 output secondary
workspace $ws9 output secondary
workspace $ws10 output secondary
{{- end }}

# switch to workspace
bindsym $mod+1 workspace number $ws1
bindsym $mod+2 workspace number $ws2
bindsym $mod+3 workspace number $ws3
bindsym $mod+4 workspace number $ws4
bindsym $mod+5 workspace number $ws5
bindsym $mod+6 workspace number $ws6
bindsym $mod+7 workspace number $ws7
bindsym $mod+8 workspace number $ws8
bindsym $mod+9 workspace number $ws9
bindsym $mod+0 workspace number $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number $ws1
bindsym $mod+Shift+2 move container to workspace number $ws2
bindsym $mod+Shift+3 move container to workspace number $ws3
bindsym $mod+Shift+4 move container to workspace number $ws4
bindsym $mod+Shift+5 move container to workspace number $ws5
bindsym $mod+Shift+6 move container to workspace number $ws6
bindsym $mod+Shift+7 move container to workspace number $ws7
bindsym $mod+Shift+8 move container to workspace number $ws8
bindsym $mod+Shift+9 move container to workspace number $ws9
bindsym $mod+Shift+0 move container to workspace number $ws10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"

# === [ Extra Keyboard Keys ] === #

# Use pactl to adjust volume in PulseAudio.
set $refresh_i3status killall -SIGUSR1 i3status

# Bind keyboard volume keys to adjust volume
# XF86AudioRaiseVolume  : Raise volume by 10% 
# XF86AudioLowerVolume  : Lower volume by 10%
# XF86AudioMute         : Mute audio
# XF86AudioMicMute      : Mute microphone input

bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

# Bind keyboard keys to adjust screen brightness
# XF86MonBrightnessUp   : Increase brightness by 10
# XF86MonBrightnessDown : Decrease brightness by 10

bindsym XF86MonBrightnessUp exec xbacklight -inc 10 && $refresh_i3status
bindsym XF86MonBrightnessDown exec xbacklight -dec 10 && $refresh_i3status

# === [ Screenshots ] === #
# F6 | Print    : Take Fullscreen Picture
# $mod+q        : Take Snippet

bindsym F6 exec flameshot full -p "$HOME/Pictures/Screenshots"
bindsym Print exec flameshot full -p "$HOME/Pictures/Screenshots"

bindsym $mod+q exec flameshot gui -p "$HOME/Pictures/Screenshots"

# === [ MODE ] === #
# Modes: System, Resize, Launch, Keyboard

# System: Perform system control operations
#
# Bound: $mod+Shift+s
#   L: Lock
#   E: Exit
#   S: Suspend
#   H: Hibernate
#   R: Reboot
#   P: Poweroff
set $mode_system System
mode "$mode_system" {
    bindsym l exec --no-startup-id dm-tool lock, mode "default"
    bindsym e exec --no-startup-id i3-msg exit, mode "default"
    bindsym s exec --no-startup-id systemctl suspend, mode "default"
    bindsym h exec --no-startup-id systemctl hibernate, mode "default"
    bindsym r exec --no-startup-id systemctl reboot, mode "default"
    bindsym p exec --no-startup-id systemctl poweroff, mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+Shift+s mode "$mode_system"

# Resize: Grow or shrink windows
#
# Bound: $mod+r
#   H | Left : Shrink Width
#   J | Down : Shrink Hight
#   K |   Up : Grow Height
#   L | Right: Grow Width
set $mode_resize Resize 
mode "$mode_resize" {
    bindsym h resize shrink width 10 px or 10 ppt
    bindsym j resize shrink height 10 px or 10 ppt
    bindsym k resize grow height 10 px or 10 ppt
    bindsym l resize grow width 10 px or 10 ppt
    # Arrow Keys
    bindsym Left resize shrink width 10 px or 10 ppt
    bindsym Down resize shrink height 10 px or 10 ppt
    bindsym Up resize grow height 10 px or 10 ppt
    bindsym Right resize grow width 10 px or 10 ppt

    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym $mod+r mode "default"
}
bindsym $mod+r mode "$mode_resize"

# Launch: Launches applications quickly

# Tray: Launches various system tray applets
#
# Useful for when you only need to launch certain applications
#
# Bound: $mod+x
#   b: Blueman bluetooth manager
#   e: Emojione picker
#   f: Flameshot
#   g: Geoclue
#   i: Birdtray (unused)
#
#   j: Fcitx5 (Japanese IME)
#   k: Kdeconnect-indicator
#   u: Udiskie
set $mode_tray Tray
mode "$mode_tray" {
    bindsym b exec --no-startup-id blueman-applet; mode "default"
    bindsym e exec --no-startup-id emojione-picker; mode "default"
    bindsym f exec --no-startup-id flameshot; mode "default"
    bindsym g exec --no-startup-id /usr/lib/geoclue-2.0/demos/agent; mode "default"
    bindsym i exec --no-startup-id birdtray; mode "default"

    bindsym j exec --no-startup-id fcitx5 -d; mode "default"
    bindsym k exec --no-startup-id kdeconnect-indicator; mode "default"
    bindsym u exec --no-startup-id udiskie -a -t -f thunar; mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+x mode "$mode_tray"

# Keyboard: Switches keyboard layouts
#
# Note that because of how the keyboard layout works, once you
# switch keyboard layouts the keybinding will change.
# So you the keys to switch & revert the keyboard layout must be fixed.
#
# Bound
# $mod+Escape   : Revert keyboard to default keyboard map
# $mod+Tab      : Switch keyboard
#
#   C: en-ca
#   U: en-us
#   M: Math mode (custom)
set $mode_keyboard Keyboard
mode "$mode_keyboard" {
    bindsym c exec --no-startup-id setxkbmap ca; mode "default"
    bindsym u exec --no-startup-id setxkbmap us; mode "default"
    bindsym m exec --no-startup-id setxkbmap math; mode "default"

    bindsym Return exec --no-startup-id setxkbmap us; mode "default"
    bindsym Escape exec --no-startup-id setxkbmap us; mode "default"
    bindsym Tab exec --no-startup-id setxkbmap us; mode "default"
}
bindsym $mod+Escape exec --no-startup-id setxkbmap us; mode "default"
bindsym $mod+Tab mode "$mode_keyboard"

# === [ Startup ] === #
# Applications launched at system startup

set $get_pass secret-tool lookup keepass Passwords
set $start_kp keepassxc --pw-stdin ~/.config/dotfiles/Passwords/Passwords.kdbx &
exec --no-startup-id $get_pass | $start_kp

exec --no-startup-id nm-applet
exec --no-startup-id picom -bc --config ~/.config/picom/picom.conf
exec --no-startup-id dunst

# Always reload these apps
exec_always --no-startup-id sh ~/.fehbg &
exec_always $HOME/.config/polybar/launch.sh

# === [ Eyecare ] === #
# Startup apps that adjust screens to prevent eyesight deterioration
#
# Redshift  : Adjusts screen bluelight
# Clight    : Adjusts screen brightness
exec_always --no-startup-id clight-gui --tray &

{{- if .hidpi }} 
# === [ HIDPI ] === #
exec --no-startup-id xrandr --dpi 240
exec --no-startup-id xfconf-query -c xsettings -p /Gdk/WindowScalingFactor -s 2
{{- end }}

# === [ Gaps ] === #

{{- if ( eq .system "linux-desktop") }}
gaps inner 10
gaps outer 15
{{- else if ( eq .system "linux-laptop" ) }}
gaps inner 15
gaps outer 25
{{- end }}

# === [ Borders ] === #

#smart_borders enable
new_window none
for_window [class="^.*"] border pixel 1

for_window [title="Desktop — Plasma"] kill; floating enable; border none
for_window [class="plasmashell"] floating enable;
for_window [class="Plasma"] floating enable; border none
for_window [title="plasma-desktop"] floating enable; border none
for_window [title="win7"] floating enable; border none
for_window [class="krunner"] floating enable; border none
for_window [class="Kmix"] floating enable; border none
for_window [class="Klipper"] floating enable; border none
for_window [class="Plasmoidviewer"] floating enable; border none
for_window [class="(?i)*nextcloud*"] floating disable
for_window [class="plasmashell" window_type="notification"] floating enable, border none, move right 700px, move down 450px
no_focus   [class="plasmashell" window_type="notification"]

# https://www.reddit.com/r/awesomewm/comments/go4bib/floating_terminal_doesnt_spawn_centered_or_on/
# https://www.reddit.com/r/i3wm/comments/40jqad/how_can_i_exec_as_a_floating_window/
# https://github.com/alacritty/alacritty/issues/1238
# For Inkscape Shortcut Manager
for_window [class="popup-bottom-center"] floating enable
for_window [class="popup-bottom-center"] exec ~/.config/i3/window.sh

client.focused          #6eaafb #000000 #FFFFFF #000000 #000000
client.focused_inactive #222222 #5F676A #FFFFFF #5F676A #5F676A
client.unfocused        #333333 #222222 #888888 #222222 #333333
client.urgent           #222222 #900000 #FFFFFF #900000 #222222
client.placeholder      #000000 #0C0C0C #FFFFFF #0C0C0C #000000
client.background       #000000

# vim:ft=i3config
