{{ .chezmoi.homedir }}/Trash
{{ .chezmoi.homedir }}/Downloads
{{ .chezmoi.homedir }}/.cache
{{ .chezmoi.homedir }}/android/.cache
{{ .chezmoi.homedir }}/.config/nvim/plugged
{{ .chezmoi.homedir }}/.config/chromium/Safe Browsing
{{ .chezmoi.homedir }}/.config/VSCodium/Code Cache
{{ .chezmoi.homedir }}/.config/VSCodium/CachedData
{{ .chezmoi.homedir }}/.config/VSCodium/GPUCache
{{ .chezmoi.homedir }}/.local/share/vscode/user-data/Cache
{{ .chezmoi.homedir }}/.local/share/vscode/user-data/CachedData
{{ .chezmoi.homedir }}/.local/share/vscode/user-data/CachedExtensionVSIXs
{{ .chezmoi.homedir }}/.config/sdkman/candidates
{{ .chezmoi.homedir }}/.config/sdkman/archives
{{ .chezmoi.homedir }}/.config/aur
{{ .chezmoi.homedir }}/.config/android/avd
{{ .chezmoi.homedir }}/.local/share/gradle/wrapper
{{ .chezmoi.homedir }}/.local/share/gradle/jdks
{{ .chezmoi.homedir }}/.local/share/gradle/build-scan-data
{{ .chezmoi.homedir }}/.local/share/icons
{{ .chezmoi.homedir }}/.local/share/JetBrains/**/Kotlin
{{ .chezmoi.homedir }}/.local/share/JetBrains/**/CheckStyle-IDEA
{{ .chezmoi.homedir }}/.local/share/fonts/NerdFonts
{{ .chezmoi.homedir }}/.local/share/rustup/toolchains
{{ .chezmoi.homedir }}/.local/share/go
{{ .chezmoi.homedir }}/.config/zsh/oh-my-zsh
{{ .chezmoi.homedir }}/.config/zsh/oh-my-zsh/cache/
{{ .chezmoi.homedir }}/.config/zsh/oh-my-zsh/custom/themes/powerlevel10k
{{ .chezmoi.homedir }}/.config/zsh/oh-my-zsh/plugins
{{ .chezmoi.homedir }}/.local/share/cargo
{{ .chezmoi.homedir }}/.local/lib/
{{ .chezmoi.homedir }}/.themes
{{ .chezmoi.homedir }}/Workspace/School
{{ .chezmoi.homedir }}/Workspace/Zotero
{{ .chezmoi.homedir }}/Zotero
{{ .chezmoi.homedir }}/Documents
{{ .chezmoi.homedir }}/Music
{{ .chezmoi.homedir }}/Videos
**/node_modules
**/trash
**/cache
**/caches
**/Cache
**/gem
**/nvm
**/Google
**/lsp
**/.zinit
**/build
**/.build
**/dist
**/__pycache__
