{{ .chezmoi.homeDir }}/Trash
{{ .chezmoi.homeDir }}/Downloads
{{ .chezmoi.homeDir }}/.cache
{{ .chezmoi.homeDir }}/android/.cache
{{ .chezmoi.homeDir }}/.config/nvim/plugged
{{ .chezmoi.homeDir }}/.config/chromium/Safe Browsing
{{ .chezmoi.homeDir }}/.config/VSCodium/Code Cache
{{ .chezmoi.homeDir }}/.config/VSCodium/CachedData
{{ .chezmoi.homeDir }}/.config/VSCodium/GPUCache
{{ .chezmoi.homeDir }}/.local/share/vscode/user-data/Cache
{{ .chezmoi.homeDir }}/.local/share/vscode/user-data/CachedData
{{ .chezmoi.homeDir }}/.local/share/vscode/user-data/CachedExtensionVSIXs
{{ .chezmoi.homeDir }}/.config/sdkman/candidates
{{ .chezmoi.homeDir }}/.config/sdkman/archives
{{ .chezmoi.homeDir }}/.config/aur
{{ .chezmoi.homeDir }}/.config/android/avd
{{ .chezmoi.homeDir }}/.local/share/gradle/wrapper
{{ .chezmoi.homeDir }}/.local/share/gradle/jdks
{{ .chezmoi.homeDir }}/.local/share/gradle/build-scan-data
{{ .chezmoi.homeDir }}/.local/share/icons
{{ .chezmoi.homeDir }}/.local/share/JetBrains/**/Kotlin
{{ .chezmoi.homeDir }}/.local/share/JetBrains/**/CheckStyle-IDEA
{{ .chezmoi.homeDir }}/.local/share/fonts/NerdFonts
{{ .chezmoi.homeDir }}/.local/share/rustup/toolchains
{{ .chezmoi.homeDir }}/.local/share/go
{{ .chezmoi.homeDir }}/.config/zsh/oh-my-zsh
{{ .chezmoi.homeDir }}/.config/zsh/oh-my-zsh/cache/
{{ .chezmoi.homeDir }}/.config/zsh/oh-my-zsh/custom/themes/powerlevel10k
{{ .chezmoi.homeDir }}/.config/zsh/oh-my-zsh/plugins
{{ .chezmoi.homeDir }}/.local/share/cargo
{{ .chezmoi.homeDir }}/.local/lib/
{{ .chezmoi.homeDir }}/.themes
{{ .chezmoi.homeDir }}/Workspace/School
{{ .chezmoi.homeDir }}/Workspace/Zotero
{{ .chezmoi.homeDir }}/Zotero
{{ .chezmoi.homeDir }}/Documents
{{ .chezmoi.homeDir }}/Music
{{ .chezmoi.homeDir }}/Videos
**/node_modules
**/trash
**/cache
**/caches
**/Cache
**/gem
**/nvm
**/Google
**/lsp
**/.zinit
**/build
**/.build
**/dist
**/__pycache__
