---
scrolling:
  history: 10000
font:
  normal:
    family: monospace
    style: Bold

  bold:
    family: monospace
    style: Bold

  italic:
    family: monospace
    style: Italic

  bold_italic:
    family: monospace
    style: Bold Italic 
{{- if (eq .dsp "xorg") }} 
{{- if (eq .system "linux-desktop" "arch-laptop") }} 
  size: 12
{{- else if (eq .system "linux-laptop" ) }} 
  size: 9
{{- end }}
{{- else if (eq .dsp "wayland") }} 
{{- if (eq .system "linux-desktop" "arch-laptop") }} 
  size: 11
{{- else if (eq .system "linux-laptop" ) }} 
  size: 10.5
{{- end }}
{{- end }}
