---
scrolling:
  history: 10000
font:
  normal:
    family: monospace
    style: Bold

  bold:
    family: monospace
    style: Bold

  italic:
    family: monospace
    style: Italic

  bold_italic:
    family: monospace
    style: Bold Italic 
  size: 9
{{- if (eq .dsp "x11") }} 
{{- if (eq .system "ubuntu-workstation" "arch-laptop") }} 
  size: 12
{{- else if (eq .system "arch-asus" ) }} 
  size: 9
{{- end }}
{{- else if (eq .dsp "wayland") }} 
{{- if (eq .system "ubuntu-workstation" "arch-laptop") }} 
  size: 13.5
{{- else if (eq .system "arch-asus" ) }} 
  size: 10.5
{{- end }}
{{- end }}
