[General]
disabledTrayIcon=false
drawColor=#ff0000
drawThickness=0
savePath={{ .chezmoi.homeDir }}/Pictures/Screenshots
showStartupLaunchMessage=false
uiColor=#ca283f
contrastUiColor=#510231
copyPathAfterSave=true
