#!/usr/bin/zsh

{{- if ( eq .system "arch-laptop" ) }}
{{- if ( eq .conda "miniconda" ) }}
CONDA_PATH='/opt/{{- .conda -}}3/etc/profile.d/conda.sh'
{{- else }}
CONDA_PATH='/opt/{{- .conda -}}/etc/profile.d/conda.sh'
{{- end }}
{{- else if ( eq .system "ubuntu-workstation" ) }}
CONDA_PATH='$HOME/{{- .conda -}}/etc/profile.d/conda.sh'
{{- end }}

GIT_DIR="$HOME/git/ml"
PORT=8887

start_env() {
    env="$1"
    conda activate "$env"
    cd $HOME/git/fastai/ 
    # Updates all git repos found under $GIT_DIR
    find $GIT_DIR \
        -mindepth 1 \
        -maxdepth 1 \
        -type d \
        -print \
        -execdir git --git-dir={}/.git \
        --work-tree=$GIT_DIR/{} pull origin master \;
    cd $GIT_DIR
    jupyter notebook --no-browser --port=$PORT
}

show_usage() {
    echo "Usage: start_env.sh [conda_environment]"
}

env="$1"
source $CONDA_PATH
ENVS_LIST=$(conda info --envs | tail -n +3 | awk '{print $1}' | awk '{printf $1 " "}END{printf "\n"}')

if [[ -z "$env" ]]; then
    show_usage
elif [[ ! -z $(echo ${ENVS_LIST[@]} | grep -q -w "$env") ]]; then
  start_env "$env"
fi
