cache={{ .chezmoi.homeDir }}/.cache/npm
init-module={{ .chezmoi.homeDir }}/.config/npm/config/npm-init.js
init.author-name=Joseph Diza
init.author-email=josephm.diza@gmail.com
init.author-url=https://jmdaemon.github.io/website
init-license=GPL-3.0
init-version=0.1.0
